@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #F7F7F7;
}
.wheel{
    display: grid;
    min-height: 80vh;
    align-items: center;
}
.btn{
  background-color: #F8E8E5;
}
